/* * /////////////////////////////////////////////////////////////////////////*/

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(54, 34, 71);
  box-sizing: border-box;
}

a, a:hover, a:active, a:visited {
  text-decoration: none !important;
  outline: none !important;
}

body {
  background-color: rgb(233, 227, 215) !important;
  padding-bottom: 50px;
}

.alert {
  color: rgb(190, 74, 79);
}

.caption {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* main //////////////////////////////////////////////////////////////////////*/

main {
  width: 61.8vw;
  margin-left: auto;
  margin-right: auto;
}

/* input elements ////////////////////////////////////////////////////////////*/

button, .card button, nav button {
  font-size: 1.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgb(241, 237, 229);
  background-color: rgb(152, 121, 111);
  border: none;
  border-radius: 1rem !important;
}

button path {
  color: rgb(241, 237, 229);
}

button:hover {
  cursor: pointer;
  background-color: rgb(143, 112, 102);
}

button:focus {
  background-color: rgb(131, 103, 93);
}

select:hover {
  cursor: pointer;
}

input {
  background-color: rgb(241, 237, 229);
  font-size: 1.2rem;
  border-radius: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: none;
  box-shadow: 0 0 rgb(73, 46, 96);
  transition: box-shadow, 0.2s;
}

input:hover {
  box-shadow: 0 0.3rem rgb(119, 94, 85);
}

input:focus {
  box-shadow: 0 0.3rem rgb(73, 46, 96);
  background-color: rgb(248, 246, 242);
  outline: none;
}

/* header ////////////////////////////////////////////////////////////////////*/

/* header and signin button */
header {
  background: linear-gradient(to left, darkgreen, rgb(156, 206, 230));
  /* background-image: url("./images/wildfire4.png"); */
  background-image: url("./images/wildfire.jpg");
  background-size: cover;
  height: 20vh;
  min-height: 6rem;
  width: 100%;
  border: 0.3rem outset rgb(119, 94, 85);
  display: flex;
  align-items: center;
  outline: none;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-left: 1rem;
  margin-right: 1rem;
  color: rgb(241, 237, 229);
  text-shadow: 2px 2px 8px #000;
  outline: none;
  text-decoration: none;
}

/* forms /////////////////////////////////////////////////////////////////////*/

.form-container label {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

/* div.container {
  height: 10em;
  position: relative
} */

div.container2 {
  position: relative
}

div.container h1 {
  margin: 0;
  color: rgb(52, 48, 48);
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
  font-weight: bolder;
}

/* nav ///////////////////////////////////////////////////////////////////////*/

nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

nav button {
  color: rgb(233, 227, 215);
}

.banner-container {
  height: 10em;
  position: relative;
}

.banner-container h1 {
  margin: 0;
  color: rgb(52, 48, 48);
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
  font-weight: bolder;

}

.p-menu1 a, .link1 a {
  color: #fff;
  text-decoration: none;
}

.p-menu1{
   height: 100%;
}


/* Bookmark */
.bookmark-icon {
  width: 30px;
  height: 30px;
}

/* Hamburger */
.hamburger1 {
  height: 45px;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items:right;
  z-index: 120;
}

.hamburger1 div {
  background-color: rgb(61, 61, 61);
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 100px;
}


/* Menu */
.menu1 {
  width: 100%;
  background-color: rgb(152, 121, 111);
  margin-left: 83%;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 25px;
  padding: 0;
  list-style: none;
  clear: both;
  width: 17%;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a:first-child {
  margin-top: 5px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 700 20px 'Oswald', sans-serif;
}

.link1:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav button {
  border: none;
}

/* map ///////////////////////////////////////////////////////////////////////*/

.map {
  width: 61.8vw !important;
  height: 61.8vw !important;
}

.map-container {
width: 80%;
height: 80%;
}

.map-text {
  color: black;
}

.map-date-controls {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.map-date-controls label {
  background-color: rgb(152, 121, 111);
  border-radius: 1rem 0px 0px 1rem;
  color: rgb(241, 237, 229);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.2rem;
}

.map-date-controls select {
  border-radius: 0px 1rem 1rem 0px;
  background-color: rgb(241, 237, 229);
  border: none;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.2rem;
}

.map-date-controls select:hover {
  background-color: rgb(248, 246, 242);
}

.map-date-controls select:hover {
  border-color: rgb(143, 112, 102);
}

.map-date-controls select:focus {
  border-color: rgb(131, 103, 93);
}

/* card //////////////////////////////////////////////////////////////////////*/

.card {
  text-align: center;
  background-color: rgb(152, 121, 111);
  color: rgb(241, 237, 229);
  padding-bottom: 1rem;
}

.card button {
  color: rgb(241, 237, 229);
}

.card .primary-btn {
  border: 2px solid rgb(233, 227, 215);
}

.card h2 {
  font-size: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: rgb(241, 237, 229);
  background-color: rgb(119, 94, 85);
  margin-left: 1rem;
}

.card h2 > svg {
  font-size: 1.7rem;
}

.card h2 > svg > path {
  color: rgb(241, 237, 229);
}

.card label {
  color: rgb(241, 237, 229);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(119, 94, 85);
}

.card-header button {
  border: none;
  background-color: rgb(119, 94, 85);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.card-header button:hover {
  background-color: rgb(152, 121, 111);
}

.card-header button svg {
  margin-left: auto;
  margin-right: auto;
}

.fire-details {
  color: rgb(54, 34, 71);
  background-color: rgb(233, 227, 215);
}

/* ///////////////////////////////////////////////////////////////////////////*/

.row {
  /* flexbox formatting */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hdr-left {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

}

.hdr-right {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100%;
  margin-right: 1.5rem;
}

.register-label, .login-label {
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
}
 
/* .register-input, .login-input {
  font-size: larger;
  padding: 5px;
  margin: 2px;
} */

.register-btn, .login-btn {
  border: 1px solid rgb(241, 237, 229);
  background-color: transparent;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: .5rem 2rem;
  margin-left: 10%;
}
 
.register-messages, .login-messages {
  display: flex;
  justify-content: center;
}
 
.register-error, .login-error {
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
}
 
.register-success, .login-success {
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}

footer {
  height: 50px;
  display: block;
  text-align: center;
  position: relative;
  top: 1000px;
}

.button-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 1rem;
  gap: 1rem;
}

.comment-container {
  width: 60%;
}

.card, .comment-card {
  margin-bottom: 1rem;
}

.comment-btn-container {
  width: 20%;
}

.posts {
  margin-top: 3rem;
}

.comment-btn {
  width: 80%;
}

.comment-link {
  padding: .5rem 3rem;
}

.list-info {
  margin-left: 30%;
  margin-top: 5%;
}

.list-info span {
  font-weight: bold;
}

.list-info h2 {
  font-size: 1.5rem;
  margin-bottom: 2%;
}

.link-buttons {
  margin-left: 25%;
  margin-top: 2rem;
}

.link-buttons button {
  margin-left: 7.5%;
}

.container {
  width: 70%;
  height: 27rem;
  margin-left: 25%;
  margin-top:7%;
  padding-top: 1%;
  background-color: rgb(152, 121, 111);
  color: #FFFFFF;

}
.commentSection {
  background: gray;
  padding: 10%;
  width:120%;
  position:relative;
  top:-50px;
  right:50%;
}

/* Fire Comments */
.fireComments {
  margin-top: 3rem;
  margin-left: 20%;
}

.user-comments {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.commentAuthor, .commentBody {
  font-size: 1.1rem;
} 

.user-comment-btn {
  justify-content: flex-start;
  margin-top: 2rem;

}

.userOwnCommentBtn {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgb(241, 237, 229);
  background-color: rgb(152, 121, 111);
  border: none;
  margin-left: 0;
  margin-right: 3rem;
}
