/* * /////////////////////////////////////////////////////////////////////////*/

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(233, 227, 215);
  padding-bottom: 50px;
}

.caption {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* main //////////////////////////////////////////////////////////////////////*/

main {
  width: 61.8vw;
  margin-left: auto;
  margin-right: auto;
}

/* input elements ////////////////////////////////////////////////////////////*/

button {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgb(241, 237, 229);
  background-color: rgb(152, 121, 111);
}

button:hover {
  cursor: pointer;
  background-color: rgb(143, 112, 102);
}

button:focus {
  background-color: rgb(131, 103, 93);
}

select:hover {
  cursor: pointer;
}

/* header ////////////////////////////////////////////////////////////////////*/

/* header and signin button */
header {
  background: linear-gradient(to left, darkgreen, rgb(156, 206, 230));
  /* background-image: url("./images/wildfire4.png"); */
  background-image: url("./images/wildfire.jpg");
  background-size: cover;
  height: 20vh;
  width: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  outline: none;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-left: 1rem;
  margin-right: 1rem;
  color: rgb(241, 237, 229);
  text-shadow: 2px 2px 8px #000;
  outline: none;
}

.submit-btn, .comment-btn, .comment-link, .read-btn {
  background-color: rgb(152, 121, 111);
  color: rgb(233, 227, 215);
  font-weight: bold;
}

div.container {
  height: 10em;
  position: relative
}

div.container2 {
  position: relative
}

div.container h1 {
  margin: 0;
  color: rgb(52, 48, 48);
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
  font-weight: bolder;

}

/* nav ///////////////////////////////////////////////////////////////////////*/

nav {
  background-color: rgb(119, 94, 85);
  display: flex;
  justify-content: flex-end;
}

nav button {
  border: none;
}

/* map ///////////////////////////////////////////////////////////////////////*/

.map {
  width: 61.8vw !important;
  height: 61.8vw !important;
}

.map-container {
width: 80%;
height: 80%;
}

.map-text {
  color: black;
}

.map-date-controls {
  margin-bottom: 1rem;
}

.map-date-controls label {
  background-color: rgb(152, 121, 111);
  border-radius: 1rem 0px 0px 1rem;
  color: rgb(241, 237, 229);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.2rem;
}

.map-date-controls select {
  border-radius: 0px 1rem 1rem 0px;
  background-color: rgb(241, 237, 229);
  border: none;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.2rem;
}

.map-date-controls select:hover {
  background-color: rgb(248, 246, 242);
}

.map-date-controls select:hover {
  border-color: rgb(143, 112, 102);
}

.map-date-controls select:focus {
  border-color: rgb(131, 103, 93);
}

/* ///////////////////////////////////////////////////////////////////////////*/

.row {
  /* flexbox formatting */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hdr-left {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

}

.hdr-right {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100%;
  margin-right: 1.5rem;
}

.register-form, .login-form, .card  {
  width: 60%;
  height: 35rem;
  margin-left: 20%;
  margin-top:7%;
  text-align: center;
  padding-top: 1%;
  background-color: rgb(152, 121, 111);
  color: #FFFFFF;

 }
 
.button-container {
  padding-top: 2rem;
  flex-wrap: nowrap;
  margin-left: 35%;
  width: 30%;
}

.register-label, .login-label {
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
}
 
.register-input, .login-input {
  font-size: larger;
  padding: 5px;
  margin: 2px;
  
}
.register-btn, .login-btn {
  border: 1px solid #FFFFFF;
  background-color: transparent;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: .5rem 2rem;
  margin-left: 10%;
}
 
.register-messages, .login-messages {
  display: flex;
  justify-content: center;
}
 
.register-error, .login-error {
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
}
 
.register-success, .login-success {
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}

.register h2, .login h2 {

  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
  padding-bottom: 3%;
}

footer {
  height: 50px;
  display: block;
  text-align: center;
  padding-top: 50px;
}

.button-container {
  width: 30%;
  align-content: center;
  justify-content: center;
}

.comment-container {
  width: 60%;
}

.button-container button {
  width: 100%;
}

.card, .comment-card {
  margin-bottom: 1rem;
}

.card button {
  padding: 0.5rem 1rem;
  
}

.comment-btn-container {
  width: 20%;
}

.posts {
  margin-top: 3rem;
}

.comment-btn {
  width: 80%;
}

.comment-link {
  padding: .5rem 3rem;
}